doctype html
html
 head
  title Insert your files
 body
  h2 You can only submit your passwords in a file, not as text...
  div(id="hiddenForm")
  form(type="form" action="/insertFiles" method="POST" id="insertForm")
   div(id="inputHolder")
    input(type="file" name="file0" id="file0")
   input(type="submit" value="Submit Files")
  br
  button(id="addFile") Add file
  script(type="text/javascript").
   window.onload = function(){
    var amountOfNewFiles = [];
    var inputName;
    document.getElementById("addFile").onclick = function(){
     if(document.getElementById("file0").files.length==0){
      alert('You must pick a file before creating a new one');
      return;
     }
     if(amountOfNewFiles.length==0){
      inputName = 1;
      amountOfNewFiles.push(inputName);
     } else{
      inputName = amountOfNewFiles[amountOfNewFiles.indexOf(inputName)]+1
      amountOfNewFiles.push(inputName);
     }
     var createInput = document.createElement("input");
     createInput.type="file";
     createInput.name = "file"+inputName;
     var div = document.getElementById("inputHolder");
     div.appendChild(document.createElement("br"));
     div.appendChild(createInput);
    }
   }
