@font-face {
  font-family: arcFont;
  src: url(/fonts/ArchitectsDaughter.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: arcFont;
}
.fa-warning{
    display: inline-block;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 15px;
    color: #373737;
    font-family: arcFont;
}
p a{
    color: #218bdc;
    font-size: 15px;
    text-decoration: none;
}
a{
    outline: none;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.clear{
    clear: both;
    overflow: hidden;
}
#block_error{
    width: 850px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    background-color: #D7D7D7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*background: #fff url(http://orig05.deviantart.net/4993/f/2015/250/f/2/broken_star_black_by_supersalads-d98tp98.png) no-repeat;*/
}
#block_error div{
    padding: 40px 20px 0 40px;
}
