h3 {
  color: red;
}
@font-face {
  font-family: arcFont;
  src: url(/fontsImg/ArchitectsDaughter.ttf);
}
@font-face {
  font-family: 'Glyphs';
  src:  url(/fontsImg/glyphicons-halflings-regular.woff2) format('woff2'),
        url(/fontsImg/glyphicons-halflings-regular.woff) format('woff'),
        url(/fontsImg/glyphicons-halflings-regular.ttf) format('ttf');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  text-align: center;
}
.subtitle {
  color: gray;
}
