h1{
  color:red;
}
#left {
      top: 0px;
      border: blue solid 1px;
      position: relative;
      width: 50%;
      float: left;
    }
#right {
      top: 0px;
      border: blue solid 1px;
      position: relative;
      margin-left: 50%;
      width: 50%;
      height: auto;
      /* Change this to whatever the width of your left column is*/
    }
.clear {
      clear: both;
    }